<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>200</key>
	<string>cloud.bolt.rain</string>
	<key>201</key>
	<string>cloud.bolt.rain</string>
	<key>202</key>
	<string>cloud.bolt.rain</string>
	<key>210</key>
	<string>cloud.bolt</string>
	<key>211</key>
	<string>cloud.bolt</string>
    <key>212</key>
    <string>cloud.bolt</string>
    <key>221</key>
    <string>cloud.bolt</string>
    <key>230</key>
    <string>cloud.bolt</string>
    <key>231</key>
    <string>cloud.bolt</string>
    <key>232</key>
    <string>cloud.bolt</string>
    <key>300</key>
    <string>cloud.drizzle</string>
    <key>301</key>
    <string>cloud.drizzle</string>
    <key>302</key>
    <string>cloud.drizzle</string>
    <key>310</key>
    <string>cloud.drizzle</string>
    <key>311</key>
    <string>cloud.drizzle</string>
    <key>312</key>
    <string>cloud.drizzle</string>
    <key>314</key>
    <string>cloud.drizzle</string>
    <key>321</key>
    <string>cloud.drizzle</string>
    <key>500</key>
    <string>cloud.rain</string>
    <key>501</key>
    <string>cloud.rain</string>
    <key>502</key>
    <string>cloud.heavyrain</string>
    <key>503</key>
    <string>cloud.heavyrain</string>
    <key>504</key>
    <string>cloud.heavyrain</string>
    <key>511</key>
    <string>cloud.sleet</string>
    <key>520</key>
    <string>cloud.rain</string>
    <key>521</key>
    <string>cloud.rain</string>
    <key>522</key>
    <string>cloud.rain</string>
    <key>531</key>
    <string>cloud.rain</string>
    <key>600</key>
    <string>snow</string>
    <key>601</key>
    <string>snow</string>
    <key>602</key>
    <string>snow</string>
    <key>611</key>
    <string>snow</string>
    <key>612</key>
    <string>snow</string>
    <key>613</key>
    <string>snow</string>
    <key>615</key>
    <string>snow</string>
    <key>616</key>
    <string>snow</string>
    <key>620</key>
    <string>snow</string>
    <key>621</key>
    <string>snow</string>
    <key>622</key>
    <string>snow</string>
    <key>701</key>
    <string>cloud.fog</string>
    <key>711</key>
    <string>smoke</string>
    <key>721</key>
    <string>sun.haze</string>
    <key>731</key>
    <string>cloud.fog</string>
    <key>741</key>
    <string>cloud.fog</string>
    <key>751</key>
    <string>sun.dust</string>
    <key>761</key>
    <string>sun.dust</string>
    <key>762</key>
    <string>sun.dust</string>
    <key>771</key>
    <string>sun.dust</string>
    <key>781</key>
    <string>tornado</string>
    <key>800</key>
    <string>sun.max</string>
    <key>801</key>
    <string>cloud</string>
    <key>802</key>
    <string>cloud</string>
    <key>803</key>
    <string>cloud.sun</string>
    <key>804</key>
    <string>cloud.sun</string>
</dict>
</plist>
